# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = "Resources/Weather.csv"
weather_df = pd.read_csv(weather_data)
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Ushuaia,-54.8000,-68.3000,19.00,68,0,1.03,AR,1612921963
1,New Norfolk,-42.7826,147.0587,21.67,42,0,1.34,AU,1612922789
2,Ribeira Grande,38.5167,-28.7000,15.68,85,100,7.25,PT,1612922789
3,Atuona,-9.8000,-139.0333,26.42,74,0,7.68,PF,1612922789
4,Kapaa,22.0752,-159.3190,22.00,53,90,8.75,US,1612921962
...,...,...,...,...,...,...,...,...,...
408,Athabasca,54.7169,-113.2854,-26.00,63,100,5.14,CA,1612922703
409,Vila Velha,-20.3297,-40.2925,25.56,94,90,1.54,BR,1612922843
410,Kamenka,51.3223,42.7678,-10.56,90,93,3.77,RU,1612922843
411,Igurubi,-4.0000,33.7000,19.42,80,100,1.99,TZ,1612922843
412,Maniitsoq,65.4167,-52.9000,-6.65,83,0,2.65,GL,1612922843

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = weather_df[["Lat", "Lng"]].astype(float)

humidity = weather_df["Humidity"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 5)

fig.add_layer(heat_layer)
plt.savefig("Images/HumidityMap.png")
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [78]:
#Looking for cities with Max Temp over 65 but less than 75, Humidity under 70, and 0 cloudiness
ideal = pd.DataFrame(weather_df.loc[(weather_df['Max Temp']>15) & 
                                    (weather_df['Max Temp']<27) & 
                                    (weather_df['Humidity']<50) &
                                    (weather_df['Cloudiness']<20)])

ideal

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,New Norfolk,-42.7826,147.0587,21.67,42,0,1.34,AU,1612922789
12,Makakilo City,21.3469,-158.0858,25.00,41,1,5.14,US,1612922790
42,Atar,20.5169,-13.0499,16.53,29,0,3.55,MR,1612922793
87,Port Lincoln,-34.7333,135.8667,26.80,39,0,3.50,AU,1612922799
126,Sunrise Manor,36.2111,-115.0731,16.00,23,1,4.12,US,1612922804
127,Upington,-28.4478,21.2561,25.82,43,1,2.54,ZA,1612922804
129,Araouane,18.9048,-3.5265,18.70,20,0,4.39,ML,1612922804
165,Bafoulabé,13.8065,-10.8321,24.42,18,7,2.36,ML,1612922810
236,Santa María del Oro,25.9333,-105.3667,17.14,26,0,6.39,MX,1612922820
262,León,21.1167,-101.6667,18.00,25,1,1.07,MX,1612922631
270,Bilma,18.6853,12.9164,18.24,23,0,3.16,NE,1612922399
312,Nānākuli,21.3906,-158.1547,25.00,41,1,5.14,US,1612922831
362,Diffa,13.3154,12.6113,18.65,33,6,4.39,NE,1612922838

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [90]:
hotel_df = (ideal[['City', 'Country', 'Lat', 'Lng']]).reset_index()
hotel_df["Hotel Name"] = ""

# geocoordinates
target_radius = 5000
target_type = "lodging"

#https://www.kite.com/python/answers/how-to-convert-a-pandas-dataframe-into-a-list-of-tuples-in-python

# latlng_df = pd.DataFrame(ideal[["Lat", "Lng"]])

# latlng = latlng_df.to_records(index=False)
# latlng_list = list(latlng)

# latlng_df = pd.DataFrame(latlng)
# latlng_list = latlng_df.values.tolist

lat = pd.DataFrame(hotel_df['Lat']).reset_index()
lng = pd.DataFrame(hotel_df['Lng']).reset_index()

# # loc_list = location.values.tolist()
cities = ideal['City']
hotels = []
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 

for i in range(len(hotel_df["City"])):
    latx = hotel_df.loc[i]["Lat"]
    lngx = hotel_df.loc[i]["Lng"]

    lat_lng = f"{latx},{lngx}"

    params = {
        "location": lat_lng, 
        "radius": target_radius,
        "type": target_type,
        "key": g_key
        }
    try:
        hotel_response =  requests.get(base_url, params=params)
        hotel_json = hotel_response.json()
        
        hotels.append(hotel_json["results"][0]["name"])
        hotel = hotel_json["results"][0]["name"]
        print(f'The closest hotel to this location is {hotel}.')
    except:
        hotels.append("There is no nearby hotel.")
        print(f'There is no hotel located here.')
    
hotel_df["Hotel Name"] = hotels

The closest hotel to this location is The Shingles Riverside Cottages.
The closest hotel to this location is Marriott's Ko Olina Beach Club.
The closest hotel to this location is Oumou Elghoura.
The closest hotel to this location is Port Lincoln Hotel.
The closest hotel to this location is Comfort Inn & Suites Las Vegas - Nellis.
The closest hotel to this location is River Place Manor.
There is no hotel located here.
There is no hotel located here.
The closest hotel to this location is Hotel Palacio Del Sol.
The closest hotel to this location is City Express León.
The closest hotel to this location is Expeditions Ténére voyages.
The closest hotel to this location is Camp Pālehua.
The closest hotel to this location is ProDAF/Diffa.

In [88]:

print(hotel_response.url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=13.3154%2C12.6113&radius=5000&type=lodging&key=AIzaSyDHdelbQAEdfZwnzbCWzu3nQaW2ZO2pBrI

In [91]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [92]:
# Add marker layer ontop of heat map

# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig.add_layer(markers)
fig
# Display figure
plt.savefig("Images/Markers.png")
fig

Figure(layout=FigureLayout(height='420px'))

['New Norfolk',
 'Kapolei',
 'Atar',
 'Port Lincoln',
 'Las Vegas',
 'Upington',
 'Araouane',
 'Bafoulabé',
 'Santa María del Oro',
 'León',
 'Bilma',
 'Nānākuli',
 'Diffa']

-42.7826

13

    index                 City      Lat       Lng           Hotel Name
0       1          New Norfolk -42.7826  147.0587          New Norfolk
1      12        Makakilo City  21.3469 -158.0858              Kapolei
2      42                 Atar  20.5169  -13.0499                 Atar
3      87         Port Lincoln -34.7333  135.8667         Port Lincoln
4     126        Sunrise Manor  36.2111 -115.0731            Las Vegas
5     127             Upington -28.4478   21.2561             Upington
6     129             Araouane  18.9048   -3.5265             Araouane
7     165            Bafoulabé  13.8065  -10.8321            Bafoulabé
8     236  Santa María del Oro  25.9333 -105.3667  Santa María del Oro
9     262                 León  21.1167 -101.6667                 León
10    270                Bilma  18.6853   12.9164                Bilma
11    312             Nānākuli  21.3906 -158.1547             Nānākuli
12    362                Diffa  13.3154   12.6113                Diffa