# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_data = "Resources/Weather.csv"
weather_df = pd.read_csv(weather_data)
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Ushuaia,-54.8000,-68.3000,19.00,68,0,1.03,AR,1612921963
1,New Norfolk,-42.7826,147.0587,21.67,42,0,1.34,AU,1612922789
2,Ribeira Grande,38.5167,-28.7000,15.68,85,100,7.25,PT,1612922789
3,Atuona,-9.8000,-139.0333,26.42,74,0,7.68,PF,1612922789
4,Kapaa,22.0752,-159.3190,22.00,53,90,8.75,US,1612921962
...,...,...,...,...,...,...,...,...,...
408,Athabasca,54.7169,-113.2854,-26.00,63,100,5.14,CA,1612922703
409,Vila Velha,-20.3297,-40.2925,25.56,94,90,1.54,BR,1612922843
410,Kamenka,51.3223,42.7678,-10.56,90,93,3.77,RU,1612922843
411,Igurubi,-4.0000,33.7000,19.42,80,100,1.99,TZ,1612922843
412,Maniitsoq,65.4167,-52.9000,-6.65,83,0,2.65,GL,1612922843

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key=g_key)

In [8]:
locations = weather_df[["Lat", "Lng"]].astype(float)

humidity = weather_df["Humidity"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 5)

fig.add_layer(heat_layer)
plt.savefig("Images/HumidityMap.png")
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [21]:
#Looking for cities with Max Temp over 65 but less than 75, Humidity under 70, and 0 cloudiness
ideal = pd.DataFrame(weather_df.loc[(weather_df['Max Temp']>15) & 
                                    (weather_df['Max Temp']<27) & 
                                    (weather_df['Humidity']<50) &
                                    (weather_df['Cloudiness']<20)])

ideal

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,New Norfolk,-42.7826,147.0587,21.67,42,0,1.34,AU,1612922789
12,Makakilo City,21.3469,-158.0858,25.00,41,1,5.14,US,1612922790
42,Atar,20.5169,-13.0499,16.53,29,0,3.55,MR,1612922793
87,Port Lincoln,-34.7333,135.8667,26.80,39,0,3.50,AU,1612922799
126,Sunrise Manor,36.2111,-115.0731,16.00,23,1,4.12,US,1612922804
127,Upington,-28.4478,21.2561,25.82,43,1,2.54,ZA,1612922804
129,Araouane,18.9048,-3.5265,18.70,20,0,4.39,ML,1612922804
165,Bafoulabé,13.8065,-10.8321,24.42,18,7,2.36,ML,1612922810
236,Santa María del Oro,25.9333,-105.3667,17.14,26,0,6.39,MX,1612922820
262,León,21.1167,-101.6667,18.00,25,1,1.07,MX,1612922631
270,Bilma,18.6853,12.9164,18.24,23,0,3.16,NE,1612922399
312,Nānākuli,21.3906,-158.1547,25.00,41,1,5.14,US,1612922831
362,Diffa,13.3154,12.6113,18.65,33,6,4.39,NE,1612922838

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [61]:
# geocoordinates
target_radius = 5000
target_type = "hotels"
lat = ideal['Lat']
lng = ideal['Lng']
location = ideal["Lat", "Lng"]
cities = ideal['City']
hotels = []
hotel_lat = []
hotel_lng = []

# set up a parameters dictionary
params = {
    "location": location,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
for city in cities:
    try:
        hotel_response =  requests.get(base_url, params=params).json()
        hotels.append(hotel_response["results"][0]["name"])
        hotel_lat.append(hotel_response["results"][0]["geometry"]["location"]["lat"])
        hotel_lng.append(hotel_response["results"][0]["geometry"]["location"]["lng"])
        hotel = hotel_response["results"][0]["name"]
        hotel_loc = hotel_response["results"][0]["vicinity"]
        
        print(f'There is a hotel in {city} is {hotel}, which is located at {hotel_loc}')
        
    except:
        print(f'There is no hotel located at {city}')

KeyError: ('Lat', 'Lng')

In [60]:
# hotel_dict = {
    
# }
print(response.url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=Lat&location=Lng&radius=5000&type=hotels&key=AIzaSyDHdelbQAEdfZwnzbCWzu3nQaW2ZO2pBrI

In [48]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure

In [42]:
loc_list[0]

[-54.8, -68.3]